@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Noto Color Emoji";
  src: url("./assets/fonts/NotoColorEmoji-Regular.ttf");
}

@utility perspective {
  perspective: 1000px;
}
 
@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}

@layer components {
  .card-face {
    @apply absolute w-full h-full flex items-center justify-center rounded-md shadow-md border-2 border-amber-700;
    font-family: "Noto Color Emoji";
  }
}
