@import "tailwindcss";
@plugin "daisyui";

@utility perspective {
  perspective: 1000px;
}

@utility preserve-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}

@layer components {
  .card-face {
    @apply absolute w-full h-full flex items-center justify-center rounded-md shadow-md border-2;
    font-family: "Noto Color Emoji";
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
